.sidebar {
  background-color: #dec;
}

.train-control {
  padding: 2rem 1rem;
}

.train-control:hover {
  background-color: #fff;
}

.train-control .row {
  display: flex;
}

.train-control .color-indicator {
  flex-basis: 2rem;
  flex-grow: 0;
  height: 3rem;
  padding: 15px 10px 0;
  cursor: pointer;
}

.train-control .controls {
  padding: 0 .5rem;
  flex-grow: 999;
}

.train-speed-buttons {
  display: flex;
  justify-content: space-between;
}

.car-controls {
  justify-content: space-between;
  margin-bottom: .65em;
}
